.gdi-citem {
    border: 1px solid hsla(224, 13%, 83%, 0.5);

    .carousel-caption {
        position: relative !important;

        inset: unset;

        color: #5C6373;
        font-size: .75rem;
    }
}