@import './modal';

.gdi-gallery {
    .items {
        .item {
            position: relative;
            padding: 0 .5rem;
            cursor: pointer;

            .item-inner {
                height: 200px;

                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    inset: 0;
    
                }
                &.feat {
                    img {
                        height: 100%;    
                    }
                }
    
                .img-overlay {
                    position: absolute;
                    height: 100%;
                    width: 100%;
    
                    inset: 0;
    
                    opacity: 0;
    
                    transition: opacity .1s;
    
                    background-color: rgba(#CC7E00, .7);
    
                    display: flex;
                    padding: 10px 20px;
    
                    span {
                        margin: auto;
                        font-size: calc(.5rem + 1vw);
                        line-height: 1.25;
                        font-weight: 600;
                        color: white;
                        text-align: center;
                    }
    
    
                }
    
                &:hover, &:active, &:focus {
                    .img-overlay {
                        opacity: 1;
                    }
                }

            }

        }
    }
}