.gdi-sobre {
    
    .text {
        padding-left: 180px;
        padding-right: 50px;

        color: #5C6373;
        font-size: .9rem;
    }

    .image {

        img {
            height: 620px;
            width: 100%;
            object-fit: cover;
        }
    }
}

@media all and (max-width:1199.99px) {
    .gdi-sobre {
        .text {
            padding-left: 100px;
        }

        .image {
            img {
                height: 400px;
            }
        }
    }
}

@media all and (max-width:991.99px) {
    .gdi-sobre {
        .text {
            padding-left: 50px;
        }
    }
}

@media all and (max-width:767.99px) {
    .gdi-sobre {
        .text {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        .image {
            img {
                height: 400px;
            }
        }
    }
}

@media all and (max-width:575.99px) {
    .gdi-sobre {
        .text {
            padding: 1.5rem 1rem;
        }
        .image {
            img {
                max-height: 250px;
            }
        }
    }
}