@import './planta/block.scss';

$control-icon-size: 25px;

$img-size: 400px;

.gdi-plantas {
    background-color: #5C6373;
    color: white;
    
    .thin-title h2 {
        color: white;
    }

    .carousel {
        
        .carousel-control {
            &-prev,
            &-next {

                .carousel-control-next-icon,
                .carousel-control-prev-icon {
                    color: white !important;
                    font-weight: normal;
                }
            }
        }
    }
}

@media all and (max-width:767.99px) {
    .gdi-slider {
        .carousel {

            .carousel-control {
                &-prev,
                &-next {

                    .carousel-control-next-icon,
                    .carousel-control-prev-icon {

                        color: #010c2a !important;
                        background-color: white;
                        border-radius: 5px;
                    }
                       
                }
        
                &-prev {
                    left: 25px;
                }
        
                &-next {
                    right: 25px;
                }
            }
        } 
    }
}