$img-size: 400px;

.gdi-slider {

    .title h2 {
        font-size: 1.25rem !important;
        letter-spacing: 2.2px;
        color: #777E8E;
        text-transform: uppercase;
        font-weight: normal;
    }

    .slider-wrap {
        position: relative;
        .control-button {
            margin: auto 20px;
            position: absolute;
            bottom: 50%;

            &.prev {
                left: 0;
            }

            &.next {
                right: 0;
            }


            button {
                position: relative;
                z-index: 1000;
                display: block;

                background-color: transparent;
                color: #010C2A;
                border: none;

                font-size: 25px;
                opacity: 0.6;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                    -webkit-transition: all 0.2s linear;
                    transition: all 0.2s linear;
                }
            }
        }

        .slider {
            position: relative;
            overflow: hidden;
            margin: auto;
            border-radius: 5px;

            ul {
                position: relative;
                margin: auto;
                padding: 0;
                list-style: none;

                width: 100%;
                display: flex;
                margin: 0 auto;
            
                flex-flow: row wrap;
                justify-content: center;
                align-content: flex-start;

                // transition: left .2s; 

                .item {
                    position: relative;

                    margin: 0 10px;

                    max-width: $img-size;
                    max-height: $img-size;

                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    display: flex;

                    border-radius: 5px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                    }

                }
            }
        }
    }
}

@media all and (max-width:1199.99px) {

}

@media all and (max-width:991.99px) {
    
}

@media all and (max-width:767.99px) {

}

@media all and (max-width:575.99px) {
    
}