$control-icon-size: 25px;

$img-size: 400px;

.gdi-slider {
    padding-left: 40px;
    padding-right: 40px;

    .title h2 {
        font-size: 1.25rem !important;
        letter-spacing: 2.2px;
        color: #777E8E;
        text-transform: uppercase;
        font-weight: normal;
    }

    .carousel {
        position: relative;
        
        .carousel-control {
            &-prev,
            &-next {
                width: 40px;
                top: 50%;
                bottom: 50%;

                opacity: 1;

                .carousel-control-next-icon,
                .carousel-control-prev-icon {

                    width: 40px;
                    height: 40px;

                    opacity: .6;
                    transition: opacity .2s;
                    
                    font-size: $control-icon-size;
                    color: #010c2a !important;
                    font-family: bootstrap-icons;
                    font-weight: bolder;

                    background-image: none;
                    
                    display: flex;

                    &:hover, &:active, &:focus {
                        opacity: 1;
                    }
                }

                .carousel-control-prev-icon::before {    
                    content: "\f284";
                    margin: auto;
                }

                .carousel-control-next-icon::before {
                    content: "\f285";
                    margin: auto;
                }
            }
    
            &-prev {
                left: -50px;
            }
    
            &-next {
                right: -50px;
            }

            
        }

        .carousel-inner {
            .carousel-item {
                .item-inner {
                    display: flex;
                    
                    .slide-img {
                        margin: auto;
                        
                        width: $img-size;
                        max-width: 100%;
                        height: $img-size;
                        max-height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

@media all and (min-width:1200px) {
    
}

@media all and (max-width:767.99px) {
    .gdi-slider {
        .carousel {

            .carousel-control {
                &-prev,
                &-next {

                    .carousel-control-next-icon,
                    .carousel-control-prev-icon {

                        color: #010c2a !important;
                        background-color: white;
                        border-radius: 5px;
                    }
                       
                }
        
                &-prev {
                    left: 25px;
                }
        
                &-next {
                    right: 25px;
                }
            }
        } 
    }
}
